/**{
  box-sizing: border-box;
}*/
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000205;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: #fff;
}

@font-face {
  font-family: latina;
  src: url('./assets/fonts/neo-latina.ttf');
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.preloader-wrapper.big {
  display: flex;
  top: 45%;
  margin: auto;
}

.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #000208;
  opacity: 0.85;
}

.contentWrap {
  position: absolute;
  top: 64px;
  width: 100%;
  color: white;
  overflow-y: hidden;
}

.container {
  height: 100%;
}

.section {
  position: relative;
  height: 100%;
  padding: 0;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.amber-glow-text {
  color: #ffb300;
  text-shadow: 0px 0px 4px #ff1500;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #64dd17;
  /*background-color: #33691e;*/
}
::-webkit-scrollbar-thumb {
  background-color: #76ff03;
}
