/**{
  box-sizing: border-box;
}*/
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000205;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: #fff;
}

@font-face {
  font-family: latina;
  src: url('./assets/fonts/neo-latina.ttf');
}
@font-face {
  font-family: orbitron;
  src: url('./assets/fonts/orbitron-regular.ttf');
}
@font-face {
  font-family: orbitron-med;
  src: url('./assets/fonts/orbitron-medium.ttf');
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.preloader-wrapper.big {
  display: flex;
  top: 45%;
  margin: auto;
}

.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #000208;
  opacity: 0.85;
}

.contentWrap {
  position: absolute;
  top: 64px;
  width: 100%;
  color: white;
  overflow-y: hidden;
}

.container {
  height: 100%;
}

.section {
  position: relative;
  height: 100%;
  padding: 0;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.amber-glow-text {
  color: #ffb300;
  text-shadow: 0px 0px 8px #ff1500;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #00b8d4;
  /*background-color: #33691e;*/
}
::-webkit-scrollbar-thumb {
  background-color: #00e5ff;
}

._tabs {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
  white-space: nowrap;
}

._tabs ._tab {
  flex-grow: 1;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

._tabs ._tab a {
  color: rgba(255,179,0,0.6);
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-family: orbitron;
  font-size: 20px;
  text-overflow: ellipsis;
  letter-spacing: 1px;
  overflow: hidden;
  transition: color .28s ease;
  border-bottom: none;
}

._tabs ._tab a:hover, ._tabs ._tab a.active {
  background-color: transparent;
  color: #ffb300;
  border-bottom: 3px solid #ffb300;
  transition: border-bottom .28s ease;
}

@media only screen and (max-width: 992px) {
  ._tabs ._tab a {
    padding: 0 12px;
  }
}
