.Contact {
  position: absolute;
  width: 100%;
  height: 100%;
}

.contactWrapper {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.teamWrapper {
  padding-top: 20px;
}

.mapWrapper {
  width: 100%;
  padding-bottom: 30px;
}
.mapWrapper a {
  color: #ffa000;
}
.mapWrapper a:hover {
  color: white;
}

.Contact ._tabs ._tab a:hover, .Contact ._tabs ._tab a.active {
  background-color: transparent;
  color: #ffb300;
  border-bottom: none;
}
.Contact .tabs .indicator {
  display: none;
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #ffb300;
  will-change: left, right;
}
.Contact .tabs::-webkit-scrollbar {
  height: 5px;
}

.teamWrapper .teamMembers {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 10px;
}

.teamMembers .card {
  width: 275px;
  background: #eee;
  box-shadow: 0 0 15px 2px #ffa000;
}
.teamMembers .card:hover {
  box-shadow: 0 0 15px 2px #fff;
}

.teamMembers .card img {
  width: 100%;
  height: 250px;
  margin: auto;
}

.teamMembers .card .card-content .card-title {
  font-size: 1.4rem;
  /*font-weight: 500;*/
  text-transform: uppercase;
  text-align: left;
}
.teamMembers .card .card-content p {
  font-size: 1.2rem;
  /*text-transform: uppercase;*/
  text-align: left;
}
.teamMembers .card .card-content .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 530px) and (orientation: portrait) {
  .teamWrapper {
    padding-top: 0;
  }

  .Contact ._tab a {
    font-size: 16px;
  }

  .teamWrapper .teamMembers {
    flex-direction: column;
  }

  .teamMembers .card {
    width: 200px;
  }

  .teamMembers .card img {
    height: 175px;
  }

  .teamMembers .card .card-content .card-title {
    font-size: 1rem;
  }
  .teamMembers .card .card-content {
    padding: 18px 12px;
  }
  .teamMembers .card .card-content p {
    font-size: 0.8rem;
  }
  .teamMembers .card .card-content i {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1030px) and (orientation: portrait) {
  .teamWrapper {
    padding-top: 10px;
  }

  .teamWrapper .teamMembers {
    flex-direction: column;
  }

  .teamMembers .card {
    width: 250px;
  }

  .teamMembers .card img {
    height: 225px;
  }

  .teamMembers .card .card-content .card-title {
    font-size: 1.2rem;
  }
  .teamMembers .card .card-content {
    padding: 18px;
  }
  .teamMembers .card .card-content p {
    font-size: 1rem;
  }
  .teamMembers .card .card-content i {
    font-size: 1.2rem;
  }
}
@media only screen and (min-height: 270px) and (max-height: 480px) and (orientation: landscape) {
  .teamWrapper {
    padding-top: 0;
  }

  .Contact ._tab a {
    font-size: 16px;
  }

  .teamWrapper .teamMembers {
    flex-direction: column;
  }

  .teamMembers .card {
    width: 200px;
  }

  .teamMembers .card img {
    height: 175px;
  }

  .teamMembers .card .card-content .card-title {
    font-size: 1rem;
  }
  .teamMembers .card .card-content {
    padding: 18px 12px;
  }
  .teamMembers .card .card-content p {
    font-size: 0.8rem;
  }
  .teamMembers .card .card-content i {
    font-size: 1.1rem;
  }
}
@media only screen and (min-height: 550px) and (max-height: 768px) and (min-width: 800px) and (max-width: 1024px) and (orientation: landscape) {
  .teamWrapper .teamMembers {
    flex-direction: row;
  }

  .teamMembers .card {
    width: 200px;
  }

  .teamMembers .card img {
    height: 175px;
  }

  .teamMembers .card .card-content .card-title {
    font-size: 1rem;
  }
  .teamMembers .card .card-content {
    padding: 18px;
  }
  .teamMembers .card .card-content p {
    font-size: 0.8rem;
  }
  .teamMembers .card .card-content i {
    font-size: 1.1rem;
  }
}
