.EventDetails {
  width: 100%;
  height: 100%;
}

.backBtn {
  position: absolute;
  top: 23px;
  left: 23px;
  z-index: 1;
  color: #ffa000;
  font-size: 20px;
  cursor: pointer;
}
.backBtn:hover {
  color: white;
  font-size: 22px;
  transition: all 0.2s ease;
}
.backBtn i {
  margin-right: 0;
}

.eventDetailsWrap {
  position: fixed;
  top: 80px;
  bottom: -10px;
  padding: 0 5px 30px 5px;
  /*background: #ccc;
  box-shadow: inset 0 -5px 15px 5px #000208;*/
  overflow-x: hidden;
  overflow-y: auto;
}
.eventDetailsWrap::-webkit-scrollbar {
  width: 0;
}
.eventDetailsWrap h2 {
  font-family: orbitron;
  text-align: center;
}
.eventDetailsWrap .collapsible.popout > li {
  box-shadow: 0 2px 5px 0 rgba(255,255,255,0.16), 0 2px 10px 0 rgba(255,255,255,0.12);
}
.eventDetailsWrap .collapsible.popout > li.active {
  box-shadow: 0 5px 11px 0 rgba(255,255,255,0.18), 0 4px 15px 0 rgba(255,255,255,0.15);
}
.eventDetailsWrap .collapsible .collapsible-header {
  font-family: orbitron-med;
  text-transform: uppercase;
}
.eventDetailsWrap .collapsible .collapsible-body {
  background: #ddd;
}

@media only screen and (max-width: 320px) {
  .eventDetailsWrap .collapsible .collapsible-header {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 800px) {
  .eventDetailsWrap {
    top: 110px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 530px) and (orientation: portrait) {
  .eventDetailsWrap h2 {
    font-size: 2.1rem;
  }
}
@media only screen and (min-height: 270px) and (max-height: 480px) and (orientation: landscape) {
  .eventDetailsWrap h2 {
    font-size: 2rem;
  }
}
