.Register {
  width: 100%;
  height: 100%;
}

.formWrap {
  position: fixed;
  top: 80px;
  bottom: 30px;
  /*padding-bottom: 30px;*/
  overflow-x: hidden;
  overflow-y: auto;
}
.formWrap::-webkit-scrollbar {
  width: 0;
}

.formWrap .btn {
    font-family: orbitron-med;
}

#signup_form, #login_form {
  padding-top: 20px;
}
